footer.footer#contacts(data-aos="fade-in" data-aos-duration="1800")
  .container 
    p.footer__title.title Contatos
    .footer__row
      a.footer__item(href="https://wa.me/5521999365384")
        img(src=require("../../../images/icons/new-footer-icons/whatsapp.svg"), alt="whatsapp")
        p 21-99936-5384
      .footer__item
        img(src=require("../../../images/icons/new-footer-icons/mail.svg"), alt="email")
        p contato@eformaliza.com
      a.footer__item(href= "https://www.instagram.com/eformaliza/") 
        img(src=require("../../../images/icons/new-footer-icons/instagram.svg"), alt="instagram")
        p @eformaliza
    .footer__box 
      .footer__unit 
        .footer__dove 
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/dove.jpg"), alt="peace")
      .footer__unit 
        .footer__copyright 
          p Created by 
            a(href="https://eformaliza.com/" title="clique para saber mais") eformaliza.com
  